body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
    color: #333;
}

header {
    background: #6495ED;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.photo {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

footer {
    background: #6495ED;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
}

* {
 overflow-x: hidden;
}
